.eVNfjI svg{
    display: none !important;
}

.tm-hybrid, .fjs-paywall-notification, .advertisement, .header__button--subscribe, .Webshop, .account-trigger, .embed-block, .LoadingIndicator{
    display: none !important;
}

.js-tm-backdrop-active {
    overflow: auto !important;
}

.overlay {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    font-size: 1.5em!important;
    color: black!important;
}
.popup p {
    font-size: unset!important;
    color: black!important;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}