.eVNfjI svg{
    display: none !important;
}

.tm-hybrid, .fjs-paywall-notification, .advertisement, .header__button--subscribe, .Webshop{
    display: none !important;
}

.js-tm-backdrop-active {
    overflow: auto !important;
}