/* styles.css */

/* General styles */
.popup {
    width: 500px;
    margin-top: 50px;
}

iframe {
    position: absolute;
    width: 100vw;
    height: 30px;
    top: 0;
    border: none;
    left: 0;
}

/* Switch styles */
.switch-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px; /* Adjust spacing between switches */
    /*display: inline-block;*/
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 17px; /* Rounded corners */
    transition: .4s; /* Use standard transition property */
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px; /* Larger height */
    width: 30px; /* Larger width */
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%; /* Rounded to make circular */
    transition: .4s; /* Use standard transition property */
}

/* Styles for checked state */
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px); /* Simplified transform */
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
}