#dismissible.style-scope.ytd-feed-nudge-renderer,
#mealbar-promo-renderer,
#clarify-box
{
    display: none !important;
}

.html5-video-container {
     position: unset!important;
}

.blocked-container h1{
    font-size: 30pt;
}

.blocked-container p{
    font-size: 12pt;
}

.skipped-part-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #780606;
    z-index: 9999;
    pointer-events: none;
}

#privacy-notice {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #ffcc00;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000000;
}

.skip-banner {
    padding: 20px;
    background-color: rgba(28, 28, 28, 0.7);
    position: absolute;
    bottom: 100px;
    right: 20px;
    z-index: 9999;
}

@media (prefers-color-scheme: dark) {
    .blocked-container{
        color: white!important;
    }
}